<%= form_for(@song) do |f| %>

<% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>
      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :writeup %><br>
    <%= f.text_area :writeup, :class => 'tinymce' %>
  </div>
  <div class="field">
    <%= f.label :mp3_link %><br>
    <%= f.text_field :mp3_link %>
  </div>
  <div class="field">
    <%= f.label :chords %><br>
    <%= f.file_field :chords %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- Initialize tinymce for writeup area -->
<%= tinymce %>