<h1>Listing songs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Writeup</th>
      <th>Mp3</th>
      <th>Chords</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.writeup %></td>
        <td><%= link_to 'Show', song %></td>
        
        <% if admin_signed_in? %>
          <td> <%= link_to 'Edit', edit_song_path(song) %></td>
          <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Song', new_song_path %>
<% end %>

