<div class="panel">
  <h1 class="text-center">
    <%= @song.title %>
  </h1>

  <p>
    <strong> Description: </strong>
    <%=raw @song.writeup %>
  </p>

  <p>
    <%= audio_tag @song.mp3.url, controls: true, autobuffer: true %> 
  </p>

  <p>
    <strong>Chords:</strong>
      <%= link_to "Chord Chart", @song.chords.url, :target => "_blank" unless @song.chords_file_name == nil %>
  </p>

  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_song_path(@song) %> 
  <% end %>

</div>

<%= link_to 'Back', songs_path %>
