<nav role="navigation">
  <ul class="main-nav">
    <li> <%= link_to "Home", '/' %> </li>
    <li> <%= link_to "Music", '/songs' %> </li>
    <li> <%= link_to "Blog", '/articles' %> </li>
    <li> <%= link_to "Contact", '#' %> </li>
  </ul>
</nav>


<!-- CHANGE TO HIDDEN LINK IN TABLE -->
<% if admin_signed_in? %>
  <%= link_to "Dashboard", admin_path %> <br>
  <%= link_to "Log out", destroy_admin_session_path, method: :delete %>
<% else %> 
  <%= link_to "Admin Login", new_admin_session_path %>
<% end %>